body {
    font-family: Inria Sans;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 500;
    min-height: 100vh !important;
    z-index: 2;
    padding: 5em 4em 0;
    justify-content: center;
    justify-items: center;
    justify-self: center;

}
.liNavLink {
    margin-bottom: 8vh;
    
}

.liAvatar {
    margin-bottom: 25vh;
    margin-left: 5.5vh;
}

.avatarBig {
    height: 119px;
    width: 119px;
    object-fit: cover;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

.containerColour {
    position: fixed;
    background-color: #BFD7E3;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    margin-left: 15rem;

}

.homeCardMain {
    background-color: #7E9BA9 !important;
    width: 43rem;
    height: 3rem;
    margin-left: 4rem;
    border-radius: 500px;
}

.homeCardTopSpacing {
    margin-top: 5rem;
}

.homeCardSpacing {
    margin-bottom: 3rem;
}

.homeCardTextAlign {
    color: white;
    flex-direction: row;
    display: flex;
  }
